@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --main-grey: rgb(87, 85, 75);
    --main-green:#5c804e;
  }

body {
    min-height: 100%;
    padding:0;
    margin: 0;
    color: white;
    background-image: url(media/parallax_1_image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    
}

nav {
    position:fixed;
    width:100%;
    background-color:var(--main-green);
    font-family:'bebas neue';
    padding:0;
    margin:0;  

}

    nav ul{
        font-size:25px;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
        justify-content: flex-end;    
        gap: 30px;
        background-color:blue;
    

        }

    nav ul li{
     background-color:orange;
    }

        nav li a:link{
        color: white;
        }

        nav li a:visited{
            color: white;
        }


    .banner{
        
        display:flex;
        flex-direction: column;
        align-items: center;
        font-family: "bebas neue";       
        background-color: rgba(0, 0, 0, .4);
    }

    .banner h2{
        font-family: "raleway";
    }

    #bannerImg{
        max-width: 300px;
    }

#about{
    background-color:var(--main-grey);
    
}

    #how{
        width:75%;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        flex-wrap: wrap;
        align-content:space-between;
        justify-content: space-evenly;
        text-align: center;
    }

    .howItem{
        padding: 50px;
        border-color: white;
        border:5px solid;
        width:250px;
        font-family: "raleway";
    }   