@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --main-grey: rgb(87, 85, 75);
    --main-green:#5c804e;
  }

body {
    min-height: 100%;
    padding:0;
    margin: 0;
    color: white;
    background-image: url(media/parallax_1_image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    
}

.navbar{
    background-color: var(--main-green);
    color:white;
    font-family: 'bebas neue';
    font-size:25px;
    position:fixed;
    width:100%;
}

.nav-link{
    color:white;
}

.nav-link:hover{
    color:white;
}





    .banner{
        padding:150px;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: "bebas neue";       
        background-color: rgba(0, 0, 0, .5);
    }

    .banner h2{
        font-family: "raleway";
    }

    #bannerImg{
        max-width: 300px;
        margin:50px;
    }

#about{
    background-color:var(--main-grey);
    
}
    #about h2{
        text-align: center;
        padding:40px;
    }

    #how{
        width:80%;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        flex-wrap: wrap;
        align-content:space-between;
        justify-content: space-evenly;
        text-align: center;
    }

    .howItem{
        padding: 40px;
        border-color: white;
        border:2.5px solid;
        border-radius: 5%;
        width:350px;
        font-family: "raleway";
    }  
    
    @media only screen and (max-width:1440px) {
        #how {
            width:80%;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        align-content:center;
        justify-content: space-around;
        text-align: center;
        flex-direction: column;
        
        }

    }