@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

:root{
    --main-grey: rgb(110, 110, 110);
    --main-green:#6e8f60;
  }

body {
    min-height: 100%;
    padding:0;
    margin: 0;
    color: white;
    background-image: url(media/parallax_1_image.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    
}

.navbar{
    background-color: var(--main-green);
    color:white;
    font-family: 'bebas neue';
    font-size:25px;
    position:fixed;
    width:100%;
    display:flex;
}


.nav-link{
    color:white;
}

.nav-link:hover{
    color:white;
}

.nav-link:visited{
    color:white;
}





    .banner{
        padding: 200px 0px;
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: "bebas neue";       
        background-color: rgba(0, 0, 0, .5);
    }

    .banner h2{
        font-family: "raleway";
    }

    #bannerImg{
        max-width: 300px;
        margin:50px;
    }

#about{
    background-color:var(--main-grey);
    padding-top:50px;
    padding-bottom:150px;
    margin-left: auto;
    margin-right:auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    
}
    #about h2{
        
        padding:50px;
    }

    #how{
        width:100%;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        flex-wrap: wrap;
        align-content:space-between;
        justify-content: space-evenly;
        text-align: center;
    }

    .howItem{
        padding: 40px;
        border-color: white;
        border:2.5px solid;
        border-radius: 5%;
        width:350px;
        font-family: "raleway";
    }  

    .howVideo{
        margin-top:100px;
        
    }


    .join{
        padding: 50px;
        display:flex;
        flex-direction:column;
        align-items: center;
        background-color: white;
        color:black;
    }

    .btn{
        background-color: var(--main-green);
        border-color: var(--main-green);
        border: 2px solid;
    }

    .btn:hover{
        background-color: var(--main-green);
        border:2px solid;
        border-color:var(--main-grey);
    }

    .btn-primary:visited{
        background-color: var(--main-green);
        border:2px solid;
        border-color:var(--main-grey);
    }



    @media only screen and (max-width:1440px) {
        #how {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        gap:50px;
        align-content:space-around;
        justify-content: center;
        text-align: center;
        
        
        }

        #howItem{
            background-color: blue;
        }

    }